<% provide(:title, "Emicast - Réécouter les émissions de vos chaines préférées") %>

    <div class="bs-docs-masthead">
        <div class="container">

          <h1>REECOUTER LES EMISSIONS DE VOS CHAINES PREFEREES</h1>
          

          <p class="search">

          <%= form_tag search_emissions_path, method: :get, class: "form-inline"  do %>

                <div class="form-group">

                  <%= text_field_tag :search, params[:search], class:"form-control search-input", placeholder:"Chaine radio, Emissions..."%>
                </div>

                <button type="submit" class="btn btn-default btn-rounded"><i class="glyphicon glyphicon-search"></i></button>

          <% end %>
          </p>
          

        </div>
    </div>

    <div class="container">
     <h2>Les dernières emissions ajoutées</h2>

    <div class="row boxEpisU">
          
          <% @emissions.each do |emission| %>

          <div class="col-md-3 boxemission boxEpisode col-sm-bx-1">
            
            <%= link_to emission_path(emission) do %>

                <%= image_tag emission.thumbnail.url(:medium), class:"imgHeight"%>

                <div class="boxChain"><%= emission.admin.nom_radio %></div>
                <div class="bClassP">

                  <h3><%= emission.category && emission.category.name %></h3>
                   
                    <h4><%= emission.title %></h4>
                    <p class="desc"><%= truncate(emission.description, :length => 50) %></p>
            <h4><%= emission.episodes.count %> episode<% if emission.episodes.count>=2 %>s<%end %></h4>
                </div>
            <% end %>

            <%= link_to emission_path(emission) do %>
                <div class="detailsHover">
                  <h2>

                  <span>Voir les episodes</span> <br>

                  <i class="fa fa-file-text"></i></h2>
                </div>
              
            <% end %>

            
          </div>

          <% end %>

      </div>
      </div>

<div class="bs-docs-masthead2">

            <div class="container">

            <h2 class="insCripn">Vous avez une chaine de radio, diffuser vos contenues à des millions d’auditeurs à travers le monde </h2>


            <%= link_to "Inscription", new_admin_registration_path, class:"btn-inscrire"%>
            
        </div>
  
</div>

<div class="container">

    <h2>Les dernières episodes ajoutées</h2>

      	<div class="row boxEpisU">
	       	
	       	<% @episodes.each do |episode| %>

	       	<div class="col-md-3 boxEpisode col-sm-bx-1">
	          
	          <%= link_to emission_episode_path(episode.emission, episode) do %>

	              <%= image_tag episode.thumbnail.url(:medium), class:"imgHeight"%>

	              <div class="boxChain"><%= episode.emission.admin.nom_radio %></div>
	              <div class="bClassP">
	                  <h3><%= episode.emission.category.name %></h3>
	                  <h4><%= episode.emission.title %></h4>
	                  <p class="desc"><%= truncate(episode.description, :length => 50) %></p>
	                  <p class="date"><i class="glyphicon glyphicon-time"></i>Publié le <%= episode.created_at.strftime("%d/%m/%Y") %></p>
	                    
	              </div>
	        	<% end %>

            <%= link_to emission_episode_path(episode.emission, episode) do %>
                <div class="detailsHover">
                  <h2>

                  <span>Ecouter </span><br>

                  <i class="fa fa-play"></i>

                  </h2>
                </div>
              
            <% end %>
	        </div>

	        <% end %>

    	</div>


    <p class="btn-explore"><%= link_to "EXPLORER", emissions_path%></p>

    </div>


<%= render 'layouts/partials/footer' %>
