

    <div class="bs-docs-masthead">
        <div class="container">

          <h1>REECOUTER LES EMISSIONS DE VOS CHAINES PREFEREES</h1>
          

          <p class="search">

          <%= form_tag search_emissions_path, method: :get, class: "form-inline"  do %>

                <div class="form-group">

                  <%= text_field_tag :search, params[:search], class:"form-control search-input", placeholder:"Emissions, Chaine Radio, Episodes..."%>
                </div>

                <button type="submit" class="btn btn-default btn-rounded"><i class="glyphicon glyphicon-search"></i></button>

          <% end %>
          </p>
          

        </div>
    </div>



    <div class="container">

    <h2>Les dernières emissions ajoutées</h2>

      	<div class="row boxEpisU">
	       	
	       	<% @episodes.each do |episode| %>

	       	<div class="col-md-3 boxEpisode col-sm-bx-1">
	          
	          <%= link_to emission_episode_path(episode.emission, episode) do %>

	              <%= image_tag episode.thumbnail.url(:medium), class:"imgHeight"%>

	              <div class="boxChain"><%= episode.emission.admin.nom_radio %></div>
	              <div class="bClassP">
	                  <h3><%= episode.emission.category.name %></h3>
	                  <h4><%= episode.emission.title %></h4>
	                  <p class="desc"><%= truncate(episode.description, :length => 50) %></p>
	                  <p class="date"><i class="glyphicon glyphicon-time"></i>Publié le <%= episode.created_at %></p>
	                    
	              </div>
	        	<% end %>
	        </div>

	        <% end %>

    	</div>

    <p class="btn-explore"><a href="#">EXPLORER</a></p>

    </div>
