  <%= form_for @emission, :html => {:multipart => true} do |f| %>

      <div class="field"> 
        <%= @emission.errors[:category_id].first %>
        <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Selectionner une categorie", class: "form-control") %>
       </div>

      <div class="field">
        <%= f.label :titre %><br />
        <%= @emission.errors[:title].first %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= @emission.errors[:description].first %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :facebook %><br />
        <%= f.text_field :facebook, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :twitter %><br />
        <%= f.text_field :twitter, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :youtube %><br />
        <%= f.text_field :youtube, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :cover %>
        <%= f.file_field :cover  %>
      </div>

      <div class="field">
        <%= f.label :thumbnail %>
        <%= f.file_field :thumbnail  %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>

<% end %>