    <div class="dc-episode-b">
          
          <%= image_tag @admin.cover_radio.url(:medium) %>

    </div>

    <div class="container boxCoverN boxDchain">
        
      <div class="coverLogo">
          <%= image_tag @admin.logo_radio.url(:medium) %>
      </div>

      <div class="episodeDesc">

          <h1 class="nChain"><%= @admin.nom_radio %> / 
          
              <span class="fmChain"><%= @admin.bande_fm %>
                  <span><%= link_to image_tag('face.png'), "#" %></span> 
                  <span><%= link_to image_tag('twitter.png'), "#" %></span> 
                  <span><%= link_to image_tag('youtube.png'), "#" %></span>
              </span>

          </h1>
        
          <p class="descEp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati illum similique, vitae soluta provident modi quia! Id fugiat vitae est, itaque ipsam recusandae fuga suscipit ut temporibus eum dignissimos blanditiis!</p>
      </div>


      <div class="container contAd">

          <nav id="bs-navbar" class="collapse navbar-collapse navAd">

              <ul class="nav navbar-nav">
                    <li><%= link_to "Emissions", emissions_path %></li>

                    <li><%= link_to "Ajouter une emission", new_emission_path %></li>


                    <li><%= link_to "Editer le profil", edit_admin_registration_path %></li>
              </ul>


          </nav>

      </div>

    </div>

    <div class="container boxDchain">

        <div class=" boxEpisodeCh">
      
      <% @emissions.each do |emission| %>
        
            <div class="boxEpisode boxEpOne">

                  <div class="imgBx">
                      
                      <%= image_tag emission.thumbnail.url(:medium) %>
                      
                  </div>

                  <div class="textBx">
                      
                      <h3><%= emission.title %></h3>

                      <p class="desc"><%= truncate(emission.description, :length => 120) %></p>
                      <p class="date"><i class="glyphicon glyphicon-time"></i><%= emission.created_at %></p>

                       <div class="lien">

                           <%= link_to "Voir les episodes", emission_path(emission), class:"adLink" %> 

                           <%= link_to "Ajouter une episode", new_emission_episode_path(emission, @episode), class:"adLink" %>

                           <a class="adLink" href="#">Supprimer</a> 

                           <%= link_to "Modifier", edit_emission_path(emission), class:"adLink" %>

                       </div>
                  </div>
               <div class="clear"></div>
            </div>
         
        <% end %>

        <%= will_paginate @emissions, previous_label: "&laquo;", next_label: "&raquo;" %>

        </div>
     

    </div>