<!DOCTYPE html>
<html>
<head>
  <title>Emicast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=234482543342012";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to "Emicast.com", root_path, class: "navbar-brand" %>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      
              <% Category.all.each do |category| %>

                <li class="<%= 'active' if params[:category] == category.name  %>">
                    <%= link_to category.name, emissions_path(category: category.name), class: "link" %>
                </li>
                
              <% end %>

    		<% unless admin_signed_in? %>

    			<li><%= link_to "Inscription", new_admin_registration_path %></li>
    			<li><%= link_to "Connexion", new_admin_session_path %></li>

    		<% else %>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Emission", new_emission_path %></li>
    			<li><%= link_to "Deconnexion", destroy_admin_session_path, method: :delete, data:{confirm:"Are you sure?"} %></li>
    		<% end %>

      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<% if alert %>
  <div id="notice_wrapper">
      <p class="alert"><%= alert %></p>
  </div>
<% end %>
<% if notice %>
  <div id="notice_wrapper">
      <p class="notice"><%= notice %></p>
  </div>
<% end %>


<%= yield %>


<script>
     $(document).ready(function() {

      $(".detailsHover").hide();

       setTimeout(function(){
         $('#notice_wrapper').fadeOut("slow", function(){
           $this.remove();
         });
       }, 4500);


       $(".boxEpisode").hover(function(){
          $(this).find("div.detailsHover").stop(false, true).fadeIn("fast")
       }, function(){
          $(this).find("div.detailsHover").stop(false, true).fadeOut("fast")
       });

     });


 </script>

</body>
</html>
